setuptools
pip
sphinxcontrib-issuetracker
sphinxcontrib-googlechart
sphinxcontrib-blockdiag
sphinx_bootstrap_theme
cherrypy
pymongo
cmd2
pygooglechart
sqlalchemy
mysql-connector-python
mysql-python
mimerender
