clear users
set nodename india
analyze -M %(this_month)s
createreport -d thismonth/india/eucalyptus/user -t Running_instances_per_user_of_eucalyptus_in_India

clear all
set nodename sierra
analyze -M %(this_month)s
createreport -d thismonth/sierra/eucalyptus/user/ -t Launched_instances_per_user_of_eucalyptus_in_Sierra

clear all
set nodename india
set platform nova
analyze -M %(this_month)s
createreport -d thismonth/india/openstack/user/ -t Launched_instances_per_user_of_Openstack_in_India

clear all
set search_range %(start_ymd)sT00:00:00 %(end_ymd)sT23:59:59
set nodename india
analyze -S count
sys_report -o thismonth/india/eucalyptus/count --all
analyze -S runtime
sys_report -o thismonth/india/eucalyptus/runtime --all
analyze -S ccvm_cores
sys_report -o thismonth/india/eucalyptus/ccvm_cores/ --all
analyze -S ccvm_mem
sys_report -o thismonth/india/eucalyptus/ccvm_mem --all
analyze -S ccvm_disk
sys_report -o thismonth/india/eucalyptus/ccvm_disk --all

clear all
set search_range %(start_ymd)sT00:00:00 %(end_ymd)sT23:59:59
set nodename sierra
analyze -S count
sys_report -o thismonth/sierra/eucalyptus/count --all
analyze -S runtime
sys_report -o thismonth/sierra/eucalyptus/runtime --all
analyze -S ccvm_cores
sys_report -o thismonth/sierra/eucalyptus/ccvm_cores/ --all
analyze -S ccvm_mem
sys_report -o thismonth/sierra/eucalyptus/ccvm_mem --all
analyze -S ccvm_disk
sys_report -o thismonth/sierra/eucalyptus/ccvm_disk --all

clear all
set nodename india
analyze -S count_node -M %(this_month)s
sys_report -o thismonth/india/eucalyptus/count_node

clear all
set nodename sierra
analyze -S count_node -M %(this_month)s
sys_report -o thismonth/sierra/eucalyptus/count_node
