
This is about to explain type of cc.log file.
---------------------------------------------

Main template
-------------

Syntax
- [ DATE ][ UID ][ LOG TYPE ] log messages

  - DATE; Weekday Month Day hh:mm:ss YYYY
	 ex. Wed Nov  9 17:33:00 2011
  - UID; a 6 digits unique id for log thread?
 	ex. 028839
  - LOG TYPE; EUCADEBUG, EUCAINFO

Template of log message
-----------------------

Syntax
- function name: sub log message	

delimiter
- ":"

 function name
 -------------
 => string(string)
    ex. monitor_thread()
        ncClientCall(ncDescribeResource)
	    
		sub log message		
		---------------

		Syntax
		- string key=value pairs string

		Delimiter
		- " "

		Subdelimiter
		- "="

		Subsubdelimiter
		- "{}"
		(* When it occurs, parsing process needs to go to the delimiter)
		
		Example
		- called ncURL=http://i2:8775/axis2/services/EucalyptusNC timeout=5
		 (string) (key=value)                                     (key=value)

		'value' has different types
		1) string without a white space
		   ex. instanceId=i-4CDA08AA
		2) string with a white space (only occurs in 'keyName')
		   ex. keyName=ssh-rsa AA... asdf@eucalyptus
		3) sub key=value pairs (only occurs in 'ccnet' and 'ccvm')
		   ex. ccnet={privateIp=10.0.5.2 publicIp=149.165.159.134 privateMac=D0:0D:49:D8:08:72 vlan=12 networkIndex=2}
		   * Starts with { means there are multiple values in the value
		   * volumes and groupNames are also in this type.
		   ex. volumes={} groupNames={sharifnew }

It seems eucalyptus has a monitoring thread which runs every 10 secs or less.
